<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scritch</title>
    <link rel="stylesheet" href="../public/stylesheets/cart.css">
</head>
<body>
    <nav>
        <div class="heading">
            <h1>Scritch</h1>
            <div class="links">
                <a href="/scratch/shop">Shop</a>
                <a href="/scratch/cart">Cart</a>
                <a href="/scratch/myaccount">My Account</a>
                <a href="/logout">Logout</a>
            </div>
        </div>
        <hr>
    </nav>

    <div class="container">
       
    </div>

    <script src="../public/javascripts/cart.js"></script>
</body>
</html>