<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scatch</title>
    <link rel="stylesheet" href="../public/stylesheets/login.css">
</head>
<body>
    <h1>Scritch</h1>
    <hr>
<div class="container">
    <div class="sub-container">
        <div class="form-box">
            <h2>Login</h2>
            <form action="/login" method="post">

                <div class="input-group">
                    <input type="email" id="email" placeholder="Email" name="email" required>
                </div>

                <div class="input-group">
                    <input type="password" id="password" placeholder="Password " name="password" required>
                </div>

                <button type="submit" class="submit-btn">Login</button>

                <p class="login-link"> <a href="/">Create New Account!</a><p>
            </form>
        </div>
    </div>
</div>
    
</body>
</html>