<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/stylesheets/myaccount.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    
    <nav>
        <div class="heading">
            <h1>Scritch</h1>
            <div class="links">
                <a href="">Shop</a>
                <a href="/scratch/cart">Cart</a>
                <a href="/scratch/myaccount">My Account</a>
                <a href="/logout">Logout</a>
            </div>
        </div>
        <hr>
    </nav>

    <div class="container">

        <aside>
            <div class="profile-pic">
                <img src="/public/images/placeholder.png">
            </div>
            <div class="customer-name">
                <h3>Your FullName</h3>
                <h5>Email</h5>
                <h5>Phone Number</h5>
            </div>
            <hr>

            <div class="services">
                <a href="">Your Orders</a>
                <a href="">My Cart</a>
                <a href="">My Notifications</a>
                <a href="">Help Center</a>
            </div>
        </aside>

        <div class="right-side">
            <div class="details">
                
                <h2>Personal Details</h2>
                
                <form action="">
                    <Label for="name">Enter Your Full name:</Label>
                   <input type="text" name="name" id="name">
    
                    <Label for="name">Email</Label>
                   <input type="email" name="name" id="name">
    
                    <Label for="name">Phone Number</Label>
                   <input type="number" name="name" id="name">
    
                    <Label for="name">State</Label>
                   <input type="number" name="name" id="name">
    
                    <Label for="name">city</Label>
                   <input type="number" name="name" id="name">
    
                    <Label for="name">Adress</Label>
                   <input type="text" name="name" id="name">
    
                    <Label for="name">LandMark</Label>
                   <input type="text" name="name" id="name">
    
                    <Label for="name">Area Pin Code</Label>
                   <input type="number" name="name" id="name">
    
                </form>

            </div>
        </div>
    </div>

    <script src="../public/javascripts/myaccount.js"></script>
</body>
</html>