<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scratch</title>
    <link rel="stylesheet" href="../public/stylesheets/shop.css">
</head>
<body>
    <nav>
        <div class="heading">
            <h1>Scritch</h1>
            <div class="links">
                <a href="">Shop</a>
                <a href="/scratch/cart">Cart</a>
                <a href="/scratch/myaccount">My Account</a>
                <a href="/logout">Logout</a>
            </div>
        </div>
        <hr>
    </nav>

    <div class="container">

        <aside>

            <div class="filters">
                <p>Sort by:</p>
                <select name="sort" id="sort">
                    <option value="popular">Popular</option>
                    <option value="newest">Newest</option>
                </select>
            </div>
            
            <ul id="ul-1">
                <li>New Collections</li>
                <li>All Products</li>
                <li>Discounted Products</li>
            </ul>

            <ul id="ul-2">
                <li>Filter by:</li>
                <li>Availabilty</li>
                <li>Discount </li>
            </ul>
        </aside>

        <main>
            <div class="product-container">
               
            </div>
        </main>
    </div>

   <script src="../public/javascripts/shop.js"></script>

</body>
</html>